		<canvas id="c"></canvas>
		<!-- Return to Top -->
		<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
		
		<script language="text/javascript">
		
				$(document).ready(function() {
		$('div.content p img').not(".emoji").each(function ()
		{
			var currentImage = $(this);
			currentImage.wrap($('<a>',{
				href: currentImage.attr("src"),
				class: 'lightbox'
			}));
		});
		lightbox = $('a.lightbox').simpleLightbox();
		

		
		
	});
			// ===== Scroll to Top ==== 
			$(window).scroll(function() {
				if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
					$('#return-to-top').fadeIn(200);    // Fade in the arrow
				} else {
					$('#return-to-top').fadeOut(200);   // Else fade out the arrow
				}
			});
			$('#return-to-top').click(function() {      // When arrow is clicked
				$('body,html').animate({
					scrollTop : 0                       // Scroll to top of body
				}, 500);
			});
		</script>