<script src="{{ "/assets/js/matrix.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/simple-lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/videos.js" | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "/assets/js/simplelightbox.min.css" | prepend: site.baseurl }}">

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-top"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
