<script src="{{ "/assets/js/matrix.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/simple-lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/videos.js" | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "/assets/js/simplelightbox.min.css" | prepend: site.baseurl }}">
<script>
	$(document).ready(function() {
		$('div.content p img').not(".emoji").each(function ()
		{
			var currentImage = $(this);
			currentImage.wrap($('<a>',{
				href: currentImage.attr("src"),
				class: 'lightbox'
			}));
		});
		lightbox = $('a.lightbox').simpleLightbox();
		
		$(function () {
			$.scrollUp();
		});
	});
</script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-top"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.minjs"></script>
<!-- End Cookie Consent plugin -->
